select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    color: black;
    border: none;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 8px;
    background-image: none;
}

input {
    padding: 0;
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    resize: none;
    height: 125px;
    overflow-y: scroll;
}

select {
    margin: 0;
}
